body {
font-family: Roboto, sans-serif;
color: #212121;
}
.logo-header, .logo-footer {
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
.logo-header{
    color: #212121;
}
.logo-web{
    color: #2196F3;
}
.nav-link .link{
color: #212121;
text-decoration: none;
}
.contacts-link .link{
    color: #757575;
    text-decoration: none;
}
.nav-link .link:hover,
.contacts-link .link:hover,
.footer-links .link:hover,
.nav-link .link:focus,
.contacts-link .link:focus,
.footer-links .link:focus {
    color: #2196F3;
}
.button{
    cursor: pointer;
}
p {
    color: #757575;
}
footer {
    background: #2F303A;
}
.logo-footer{
    color: #ffffff;
}
.footer-links .link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.adress{
    color: #ffffff;
}