body {
background-color: #ffffff;;
font-family: Roboto, sans-serif;
color: #212121;
letter-spacing: 0.03em;
}
.button{
    cursor: pointer;
}
/* Header */
    /* Logo */
.logo{
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo-web{
    color: #2196F3;
}
.page-header .logo{
    color: #212121;
}
     /* Navigation */
.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav, .contacts-header{
    list-style: none;
}
.site-nav .link{
    color: #212121;
text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus{
    color: #2196F3;
}
.contacts-header .link{
    color: #757575;
text-decoration: none;
}
                                   /* Studio */
   /* Hero */
.hero{
    background-color: #2F303A;
}
.text-hero{
    color: #ffffff;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero .button{
    color: #ffffff;
background-color: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
}
     /* Feature */
.display{
    display: none;
}
.list-feature{
    list-style: none;
}
.list-feature .title{
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.list-feature .desc{
    color: #757575;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}
     /* Work */
     .list-work{
    list-style: none;
}
.desc-work, .desc-team{
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
     /* Team */
.team-list{
    list-style: none;
}
.team-list .title{
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
}
.team-list .desc{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
}
                                  /* Portfolio */
/* Filter */
.filter{
    list-style: none;
}
.filter .button{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.filter .button:hover,
.filter .button:focus{
    color: #FFFFFF;
    background-color: #2196F3;;
}
/* Gallery */
.gallery{
    list-style: none;
}
.gallery .list{
    text-decoration: none;
}
.gallery .title{
    color: #212121;
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.gallery .desc{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 1.87;
}

/* Footer */
.page-footer{
    background-color: #2F303A;
}
.page-footer .logo{
    color: #ffffff;
}
.adress-list{
    list-style: none;
}
.adress-list .link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
}
.adress-list .link:hover,
.adress-list .link:focus{
    color: #2196F3;
}
.adress-list .text{
    color: #FFFFFF;
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
}